<a href="https://colab.research.google.com/github/echung2/echung2/blob/master/2021_1_%ED%95%9C%EA%B5%AD%ED%98%84%EB%8C%80%EB%AC%B8%ED%95%99%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EC%97%B0%EA%B5%AC_3%EC%A3%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초와 Pandas 활용
참고 자료 링크 \
점프 투 파이썬 : https://wikidocs.net/book/1 \
왕초보를 위한 Python : https://wikidocs.net/book/2 \
파이썬 기본을 갈고 닦자! : https://wikidocs.net/book/1553 \

## 0. 연산자

### a. 변수할당(assign)

In [ ]:
# '='은 등호가 아니다
a = 3
a

In [ ]:
# 등호는 ==
a == 5

In [ ]:
a is 3

In [ ]:
# !=
a!=5

In [ ]:
a is not 5

### b. 부등호

In [ ]:
a = 123
b = 12

print(a > b) # True
print(a < b) # False
print(a >= b) # True
print(a <= b) # False
print(a == b) # False
print(a != b) # True

c = a > b

print(type(c))
print(c)

## 1. 파이썬 자료형

### a. 숫자형 
*   정수 (int)
*   실수 (float, double)

In [ ]:
a = 1
type(a)

In [ ]:
b = 1.6
type(b)

In [ ]:
# 형변환 (실수 -> 정수)
int(b)

In [ ]:
# 형변환 (실수 -> 정수)
float(a)

### b. 문자열 자료형 (String)
*텍스트 데이터를 자주 다루게되기 때문에 매우 중요한 자료형*

In [ ]:
# '1'과 1의 차이
str(a)

In [ ]:
# 문자열 안에 따옴표를 포함하고 싶을때 ("Python's favorite food is perl")
c = 'Python's favorite food is perl'

In [ ]:
c = "Python's favorite food is perl"
print(c)

In [ ]:
# 문자열 더하기
life = "life"
short = " is short!"

In [ ]:
life_short = life + short
life_short

In [ ]:
# 문자열 곱하기
life*4

In [ ]:
# 문자열 길이 구하기
len(life_short)

![python-list-index](https://qph.fs.quoracdn.net/main-qimg-a380b1bc159589df5e0b9842e5b56b6d)

https://www.quora.com/What-is-negative-index-in-Python

In [ ]:
# 문자열 인덱싱 (위치)
## 파이썬은 0부터 시작
life_short[0]

In [ ]:
life_short[5]

In [ ]:
# 음수를 넣는다면?
life_short[-1]

In [ ]:
# 문자열 슬라이싱(slicing)
## 파이썬에서는 범위를 표현할 때 우측 끝 자리는 포함하지 않음.
### 0:4 == 0,1,2,3
life_short[0:4]

In [ ]:
life_short[:4]

In [ ]:
life_short[8:]

In [ ]:
# 문자열 관련 함수
# 문자 개수 세기(count)
life_short.count('s')

In [ ]:
# 문자열 삽입(join)
",".join('12345')

In [ ]:
# 대문자로 바꾸기(upper)
title = 'title'
title.upper()

In [ ]:
# 소문자로 바꾸기(lower)
title.upper().lower()

In [ ]:
# 양쪽 공백 지우기(strip) cf. rstrip(오른쪽 공백 지우기), lstrip(왼쪽 공백 지우기)
poem = ' 사랑을 잃고 나는 쓰네 '
poem.strip()

In [ ]:
# 문자열 바꾸기(replace)
## 나중에 정규표현식으로 더 정교한 문자열 치환 가능
poem.replace('나','너')

In [ ]:
# 문자열 나누기(split)
poem.split() # 기본은 공백으로 나눠짐

In [ ]:
# 어떻게 나눌 것인가?
skku = '성균관대_문과대학'

### c. 리스트 (list) 자료형
**가장 자주 보는 자료형**으로 많은 자료들이 리스트로 저장된다.\
list = [element1, element2, element3, ....]

In [ ]:
[1,2,'3','python']

In [ ]:
# 리스트 인덱싱
a = [1, 2, 3]
a[0]

In [ ]:
a[0] + a[2]

In [ ]:
a[-1]

In [ ]:
# 리스트 슬라이싱
a = [1, 2, 3, 4, 5]
a[0:2]

In [ ]:
a[1:]

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

In [ ]:
# 리스트에 요소 추가(append)
a.append(4)
a

In [ ]:
# 리스트 확장 (extend) : '리스트에 리스트를 더하기'
a.extend([5,6])
a

### d. 딕셔너리 자료형(dict)
{Key1:Value1, Key2:Value2, ...}

In [ ]:
dic = {'이름':'김병준','대학':'문과대학','학번':2018}
dic

In [ ]:
# 딕셔너리 key
dic['이름']

In [ ]:
# 딕셔너리 key 리스트
dic.keys()

In [ ]:
# 딕셔너리 vlaue 리스트
dic.values()

### e. 불(Bool) 자료형
*   True - 참
*   False - 거짓

In [ ]:
a == a

In [ ]:
3 < 2

## 2. 제어문

### a. if 문

아래 문장을 코드로 구현한다면 ?

"돈이 있으면 택시를 타고, 돈이 없으면 걸어간다"

In [ ]:
money = True # 만약 False 라면?

if money:
  print("택시를 타고 가라")
else:
  print("걸어 가라")

In [ ]:
# 변수 a가 3 이면 print('a'), 그렇지 않으면 print('b')

####elif 활용한 if문
"주머니에 돈이 있으면 택시를 타고, 주머니에 돈은 없지만 카드가 있으면 택시를 타고, 돈도 없고 카드도 없으면 걸어 가라."

In [ ]:
# 이름이 김병준이면 A학점, 한지윤이면 B학점, 그 둘다 아니면 C학점
name = ''

### b. for 문 (반복문)

In [ ]:
test_list = ['two', 'three', 'one'] # 리스트와 for문은 자주 같이 쓰인다.
for i in test_list:
  print(i)

#### if문이 있는 for문
"총 5명의 학생이 시험을 보았는데 시험 점수가 60점이 넘으면 합격이고 그렇지 않으면 불합격이다. 합격인지 불합격인지 결과를 보여 주시오."

In [ ]:
grade = [60, 80, 90, 100, 45]

#### range 함수 활용

In [ ]:
range(0,10)

In [ ]:
for i in range(0,10):
  print(i)

## 3. 함수(function)
입력(x)을 넣으면 출력(y)이 나오는 바구니.\
반복적 이용하는 기능이 있을때 함수로 처리해서 효율적인 프로그래밍이 가능.

![function](https://res.cloudinary.com/practicaldev/image/fetch/s--iCkOfD0L--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://cdn-images-1.medium.com/max/1024/1%2A709ugF12LLkYxvb839YNlg.png)

https://dev.to/navi/why-functional-programming-matters-2o95

In [ ]:
def add(a, b): 
    return a + b

In [ ]:
add(4,5) # a+b로 바로 코딩하는 것과 차이점은?

In [ ]:
# 문자열 2개를 받아서 하나로 합쳐주는 함수?
def merge(a,b):

  return

## 4. 파이썬 모듈/패키지
파이썬은 수많은 모듈과 패키지가 있다. 다른 사람들이 많은 모듈과 패키지를 설치해서 바로 활용이 가능.\
https://pypi.org/

#### Colab에서 pip 명령어 활용
!pip install 패키지명

In [ ]:
!pip install kiwipiepy tomotopy

#### 필요한 패키지 import

In [ ]:
import pandas as pd #pandas라는 패키지명이 길기 때문에 as하고 pd라는 별명을 씀.

In [ ]:
!pip install PyKomoran
!pip install wordcloud
!sudo apt update # 우분투 패키지 업데이트
!sudo apt install fonts-nanum # 우분투에 나눔고딕 설치

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from PyKomoran import *
komoran = Komoran("STABLE")
from wordcloud import WordCloud
wordcloud = WordCloud()
font_path = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
from sklearn.feature_extraction.text import CountVectorizer

## 5. Pandas 기초
https://wikidocs.net/32829

### a. 데이터 프레임(dataframe), 그리고 행(row)과 열(column)

#### Series (1차원 배열)

In [ ]:
sr = pd.Series([17000, 18000, 1000, 5000],
       index=["피자", "치킨", "콜라", "맥주"])
sr

In [ ]:
sr.index

In [ ]:
sr.values

#### DataFrame (2차원 배열)
![row and column](https://www.onlinemathlearning.com/image-files/xmatrix.png.pagespeed.ic.yRLIaDWKGP.png)

In [ ]:
values = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
index = ['one', 'two', 'three']
columns = ['A', 'B', 'C']

In [ ]:
df = pd.DataFrame(values, index=index, columns=columns)
df

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df['C'][1]

In [ ]:
# 딕셔너리로 생성하기
data = { '학번' : ['1000', '1001', '1002', '1003', '1004', '1005'],
'이름' : [ 'Steve', 'James', 'Doyeon', 'Jane', 'Pilwoong', 'Tony'],
         '점수': [90.72, 78.09, 98.43, 64.19, 81.30, 99.14]}

df = pd.DataFrame(data)
df

In [ ]:
df.iloc[4,0]

### b. 전처리 :  중복 삭제, 결측치 삭제 등
https://rfriend.tistory.com/266 \
https://rfriend.tistory.com/263

##### 중복 삭제(drop_duplicates)

In [ ]:
data = {'key1':['a', 'b', 'b', 'c', 'c'],
'key2':['v', 'w', 'w', 'x', 'y'],
'col':[1, 2, 2, 4, 5]}
df = pd.DataFrame(data,columns=['key1','key2','col'])
df

In [ ]:
df.duplicated(['key2'])

In [ ]:
df.duplicated(['key1', 'key2'])

In [ ]:
df.drop_duplicates(['key1'], keep='first')

In [ ]:
df.drop_duplicates()

##### 결측값 있는 행 제거(dropna)

In [ ]:
df = pd.DataFrame(np.random.randn(5, 4),
columns=['C1', 'C2', 'C3', 'C4'])
df

In [ ]:
df.loc[[0,1], 'C1'] = pd.NA
df.loc[2, 'C2'] = pd.NA

In [ ]:
df

In [ ]:
df.dropna(axis=0)

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(subset=['C2'])

## 6. 형태소 추출 맛보기 (PyKomoran)
http://konlpy.org/ko/latest/api/konlpy.tag/#module-konlpy.tag._komoran \
https://komorandocs.readthedocs.io/ko/latest/firststep/postypes.html

### a. 명사 추출

In [ ]:
komoran.nouns("만국의 노동자들이여 단결하라!")

### b. 품사 추출

In [ ]:
komoran.pos("이순신 장군은 승리했다")

### c. 형태소 추출

In [ ]:
komoran.get_morphes_by_tags("사람에게 비밀이 없다는 것은 재산 없는 것처럼 가난하고 허전한 일이다.")

In [ ]:
komoran.get_morphes_by_tags("사람에게 비밀이 없다는 것은 재산 없는 것처럼 가난하고 허전한 일이다.",tag_list=['NNG'])

### d. 사용자 사전 추가

In [ ]:
komoran.get_list("코로나19 확진자가 점점 줄어들었다") #'코로나19'를 한단어로 인식하지 못함

In [ ]:
komoran = Komoran("EXP")
komoran.set_user_dic("user_dic.txt")

In [ ]:
komoran.get_list("코로나19 확진자가 점점 줄어들었다")

In [ ]:
komoran.get_list("자만추의 신화")

## 7. Pandas로 빅카인즈 데이터 다뤄보기

### a. 데이터 로드

In [ ]:
!ls # 폴더 내 파일 리스트 보여주는 리눅스 명령어

In [ ]:
kim = pd.read_excel("kim.xlsx") # 각자 지난주에 연습한 빅카인즈 엑셀 파일을 준비하세요, 저는 '김승옥'이 질의어입니다.
kim

In [ ]:
# 컬럼 확인
kim.columns

### b. 전처리

In [ ]:
kim['분석제외 여부'].value_counts()

In [ ]:
kim[kim['분석제외 여부'].isna()]

In [ ]:
# '분석제외 여부' column이 비어 있는 row만 활용
kim = kim[kim['분석제외 여부'].isna()]
kim

In [ ]:
#중복행 제거
kim = kim.drop_duplicates()

In [ ]:
# 일자순으로 오름차순 정렬
kim = kim.sort_values(by=['일자'])

In [ ]:
# index 리셋
kim = kim.reset_index(drop=True)

In [ ]:
kim

### c.형태소 분석 & 키워드 추출

In [ ]:
kim['제목']

In [ ]:
kim['본문']

In [ ]:
# 빅카인즈는 아쉽게도 저작권 문제로 본문 전체 제공을 하지 않음
kim['본문'][0]

In [ ]:
kim['전문'] = kim['제목'].str.cat(kim['본문'],sep='\n')

In [ ]:
kim['전문']

In [ ]:
kim['전문'].map(lambda x:komoran.nouns(x))

In [ ]:
kim['키워드']

In [ ]:
kim['키워드'][0]

In [ ]:
kim['키워드'][0].split(',')

In [ ]:
kim['키워드'] = kim['키워드'].map(lambda x:x.split(',')) #키워드 문자열을 리스트로 변경

In [ ]:
tf_vectorizer = CountVectorizer(analyzer='word',
                             lowercase=False,
                             tokenizer=None,
                             preprocessor=None,
                             min_df=5,
                             ngram_range=(1,2) #bigram
                             )

In [ ]:
tf_vector = tf_vectorizer.fit_transform(kim['키워드'].astype(str))

In [ ]:
tf_scores = tf_vector.toarray().sum(axis=0)
tf_idx = np.argsort(-tf_scores)
tf_scores = tf_scores[tf_idx]
tf_vocab = np.array(tf_vectorizer.get_feature_names())[tf_idx]

In [ ]:
# 상위 50개 단어
print(list(zip(tf_vocab, tf_scores))[:50])

### d. 데이터 시각화

In [ ]:
keywords = dict(zip(tf_vocab, tf_scores))

# wordcloud = wordcloud.generate_from_text(texts)
wordcloud = wordcloud.generate_from_frequencies(keywords)
wordcloud = WordCloud(
    font_path = font_path,
    width = 800,
    height = 800
)
wordcloud = wordcloud.generate_from_frequencies(keywords)
array = wordcloud.to_array()
fig = plt.figure(figsize=(5, 5))
plt.imshow(array, interpolation="bilinear")
plt.show()

In [ ]:
# 연도별 김승옥 기사량 추이
kim['일자'].map(lambda x:int(str(x)[0:4])).value_counts().sort_index(ascending=True).plot()

In [ ]:
# 월별 김승옥 기사량 추이
kim['일자'].map(lambda x:int(str(x)[0:6])).value_counts().sort_index(ascending=True).plot()